body{

    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif ;
}

h3{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 25px;
    margin: 20px;
}

h1{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 20px;
}

section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

img{
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

article{
    background: rgb(0, 0, 0);
    color: salmon;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    width: 200px;
    height: 350px;
}   

article:hover{
    transform: translateY(-5px);
}
header h1{
    font-size: 2.5em;
    margin-bottom: 15px;
    text-shadow: 2px 2px 4px rgb(52, 52, 52);
}

header p{
    font-size: 1.5em;
    margin-bottom: 8px;
    text-shadow: 2px 2px 4px rgb(52, 52, 52);
    font-size: bolder;
}







main h3{

    color: rgb(255, 255, 255);
    font-size: 1.8em;
    border-bottom: 2px solid rgb(171, 0, 0);
    padding-bottom: 8px;
}

button{
    background: rgb(171, 0, 0);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 8px;
}
footer{
    text-align: center;
    margin-top: 20px;
}
nav {
    text-align: center;
    margin: 20px 0;
    padding: 15px 0;
    border-top: 1px solid rgb(171, 0, 0);
    border-bottom: 1px solid rgb(255, 0, 187);
}

header{
   background: rgb(0, 0, 0);
   color: rgb(255, 0, 0);
   text-align: center;
   padding: 10px;
   margin-bottom: 20px;
}

header nav {
    margin-top: 25px;
    padding: 15px;
    background: rgb(193, 48, 48);
    border-radius: 8px;
}

header nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1em;
    font-weight: 500;
}

header nav a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

article:hover{
    transform: translateY(-5px);
    border-color: rgb(255, 98, 0);
}

button:hover{
    background: rgb(255, 0, 0);
    transform: translateY(-5px);
}

section div{ 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    margin: 0 auto;
    text-align: center;
}

section div p{
   
}